<footer>
    <div class="card text-center">
        <div class="card-header" id="top-footer">
            <div class="container text-center">
                <div class="row align-items-center">
                  <div class="col">
                    Sign up to our newsletter.
                  </div>
                  <div class="col">
                    <input type="email" placeholder="Enter Your Email" id="email-news">
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-dark">Sign Up</button>
                  </div>
                </div>
              </div>
        </div>
        <div class="card-body" id="middle-footer">
               <div class="container text-center">
            <div class="row align-items-center">
              <div class="col" id="info-align">
                <tr> Ye Sneaker Collectors</tr>
                <br>
                <tr> About</tr>
                <tr> Stores</tr>
                <tr> Gift Cards</tr>
              </div>
              <div class="col" id="info-align">
                <tr> Help</tr>
                <br>
                <tr> Contact Us</tr>
                <tr> Returns & Exchanges</tr>
                <tr> FAQs</tr>
              </div>
              <div class="col" id="info-align">
                <tr> Socials</tr>
                <br>
                <tr> Instagram</tr>
                <tr> Facebook</tr>
                <tr> Twitter</tr>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted" id="bottom-footer">
            <ul class="navbar-items">
                <li> VISA</li>
                <li> MASTERCARD</li>
                <li> EFT</li>
                <li> MOBICRED </li>
            </ul>
        </div>
      </div>
  </footer>