<!-- <div class="container">
    <div class="head-el">
        <div><h1 id="title-el">SNEAKERS</h1></div>


        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">ALL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">MEN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">WOMEN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">KIDS</a>
            </li>
          </ul>
</div>
    <hr id="line">
    
    <table class="tRow1">
        <tr>
              <td>
                  <div class="card">
                    <img src="https://thefoschini.vtexassets.com/arquivos/ids/51183576-1200-1200?v=638168472986870000&width=1200&height=1200&aspect=true" alt="Denim Jeans" style="width:100%">
                    <h1>Nike Uptempo 96</h1>
                    <p class="price">R 3 399,95</p>
                    <pre><img id="minus" src="https://img.icons8.com/ios/512/minus.png"> <b> Size 3  </b><img id="plus" src="https://img.icons8.com/ios/512/plus.png"></pre>
                    <p><button>Add to Cart</button></p>
                  </div>
              </td>
              <td>
                <div class="card">
                <img src="https://thefoschini.vtexassets.com/arquivos/ids/50444732-1200-1200?v=638167638797500000&width=1200&height=1200&aspect=true" alt="Denim Jeans" style="width:100%">
                <h1>Nike Junior Air Max</h1>
                <p class="price">R 749,95</p>
                <pre><img id="minus" src="https://img.icons8.com/ios/512/minus.png"> <b> Size 6  </b><img id="plus" src="https://img.icons8.com/ios/512/plus.png"></pre>
                <p><button>Add to Cart</button></p>
              </div>
            </td>
            <td>
              <div class="card">
              <img src="https://thefoschini.vtexassets.com/arquivos/ids/51632927-1200-1200?v=638173417920170000&width=1200&height=1200&aspect=true" alt="Denim Jeans" style="width:100%">
              <h1>Adidas Ozelle's</h1>
              <p class="price">R 1 699,95</p>
              <pre><img id="minus" src="https://img.icons8.com/ios/512/minus.png"> <b> Size 8  </b><img id="plus" src="https://img.icons8.com/ios/512/plus.png"></pre>
              <p><button>Add to Cart</button></p>
            </div>
          </td>
          <td>
            <div class="card">
            <img src="https://thefoschini.vtexassets.com/arquivos/ids/51621821-1200-1200?v=638173148191070000&width=1200&height=1200&aspect=true" alt="Denim Jeans" style="width:100%">
            <h1>Nike Junior Air Max</h1>
            <p class="price">R 2 399,95</p>
            <pre><img id="minus" src="https://img.icons8.com/ios/512/minus.png"> <b> Size 7  </b><img id="plus" src="https://img.icons8.com/ios/512/plus.png"></pre>
            <p><button>Add to Cart</button></p>
          </div>
        </td>
        <td>
          <div class="card">
          <img src="https://thefoschini.vtexassets.com/arquivos/ids/50276756-1200-1200?v=638167451659400000&width=1200&height=1200&aspect=true" alt="Denim Jeans" style="width:100%">
          <h1>Adidas NMD_V3</h1>
          <p class="price">R 3 299,95</p>
          <pre><img id="minus" src="https://img.icons8.com/ios/512/minus.png"> <b> Size 3  </b><img id="plus" src="https://img.icons8.com/ios/512/plus.png"></pre>
          <p><button>Add to Cart</button></p>
        </div>
      </td>
      </tr>
      
    </table>
   
  </div> -->

  
  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav> -->

  
  <div id="header">
    <h1 routerLink="/Products">Shop Exclusives</h1>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div id="slides-el" class="carousel-inner">
      <div class="carousel-item active">
        <img routerLink="/Products" id="slide-img" src="https://assets.adidas.com/images/w_1880,f_auto,q_auto/a6e0a1be3117443da3ccafcb01010215_faec/IE2276_HM5.jpg" height="750rem" style="border-radius:0%;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img routerLink="/Products" id="slide-img" src="https://assets.adidas.com/images/w_1880,f_auto,q_auto/5690eaa7bc5540bab508aeb400dda5c3_9366/HR1951_04_standard.jpg" height="750rem" style="border-radius:0%;"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img routerLink="/Products" id="slide-img" src="https://assets.adidas.com/images/w_1880,f_auto,q_auto/d6cea08f28fb4d219852ae60017b6228_9366/GW4451_010_hover_standard.jpg" height="750rem" style="border-radius:0%;" class="d-block w-100" alt="...">
      </div>
    </div>
   <button id="back-el" class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button id="forward-el" class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>

  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img routerLink="/Products" src="https://thefoschini.vtexassets.com/arquivos/ids/51183576-1200-1200?v=638168472986870000&width=1200&height=1200&aspect=true" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Nike Men's Uptempo '96 Black Sneaker</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img routerLink="/Products" src="https://thefoschini.vtexassets.com/arquivos/ids/51490274-1200-1200?v=638168823119730000&width=1200&height=1200&aspect=true" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Adidas Originals Women's Oznova Beige/Orange/Sand Sneaker
            </p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img routerLink="/Products" src="https://thefoschini.vtexassets.com/arquivos/ids/51764352-1200-1200?v=638175141859900000&width=1200&height=1200&aspect=true" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Converse Women's Chuck 70 Plus Blue Sneaker</p>
            </div>
          </div>
      </div>
    </div>
  </div>